<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">

<gazebo>
  <plugin name="gazebo_ros_control" filename="libhwi_switch_gazebo_ros_control.so">
    <robotNamespace></robotNamespace>
    <robotSimType>cob_gazebo_ros_control/HWISwitchRobotHWSim</robotSimType>
  </plugin>
</gazebo>

</robot>
